/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3

&mt {
    tapping-term-ms = <400>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // -----------------------------------------------------------------------------------------
        // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
        // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
        // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
        //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

        default_layer {
            bindings = <
&none  &kp Q  &kp W  &kp E           &kp R      &kp T           &kp Y        &kp U          &kp I      &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D           &kp F      &kp G           &kp H        &kp J          &kp K      &kp L    &kp SEMI  &none
&none  &kp Z  &kp X  &kp C           &kp V      &kp B           &kp N        &kp M          &kp COMMA  &kp DOT  &kp FSLH  &none
                     &kp LEFT_SHIFT  &kp SPACE  &lt 1 DELETE    &lt 2 ENTER  &kp BACKSPACE  &kp RALT
            >;
        };

        // -----------------------------------------------------------------------------------------
        // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
        // |      |     |     |     |     |     |   | LFT | DWN |  UP | RGT |     |      |
        // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
        //                    | GUI | LWR | SPC |   | ENT | RSE | ALT |

        lower_layer {
            bindings = <
&trans  &kp ESC         &none             &none             &none           &none     &none     &none     &none   &none      &none  &trans
&none   &sk LEFT_GUI    &sk LEFT_ALT      &sk LEFT_CONTROL  &sk LEFT_SHIFT  &none     &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none  &none
&none   &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT        &none           &none     &none     &none     &none   &none      &none  &none
                                          &trans            &none           &trans    &trans    &none     &trans
            >;
        };

        // -----------------------------------------------------------------------------------------
        // |  ESC |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
        // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
        // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
        //                    | GUI | LWR | SPC |   | ENT | RSE | ALT |

        raise_layer {
            bindings = <
&none  &kp TAB          &none     &kp GRAVE  &kp MINUS      &kp EQUAL      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none     &none
&none  &kp EXCLAMATION  &kp AT    &kp HASH   &kp DOLLAR     &kp PERCENT    &none                 &sk RSHFT              &sk RCTRL         &sk RIGHT_ALT      &sk RGUI  &none
&none  &kp CARET        &kp AMPS  &kp ASTRK  &kp BACKSLASH  &kp SQT        &kp LEFT_BRACE        &kp RIGHT_BRACE        &none             &none              &none     &none
                                  &trans     &none          &trans         &trans                &none                  &trans
            >;
        };

        // -----------------------------------------------------------------------------------------
        // |  F1  |  F2 |  F3 | F4  |  F5 |  F6 |   | F7  |  F8 |  F9 | F10 | F11 | F12  |
        // | BTCLR|     |     |     |     |     |   | MUT | Vo- | Vo+ |     |     |      |
        // |      |     |     | BTP | BTN |     |   |     | END | HOME|     |     |      |
        //                    |     | LWR |     |   |     | RSE |     |

        adjust_layer {
            bindings = <
&none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5   &none
&none  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0    &kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &none
&none  &none   &none   &none   &none   &none     &kp F11  &kp F12  &none   &none   &none    &none
                       &none   &none   &trans    &trans   &none    &none
            >;
        };
    };
};
